<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.magicfluids.demo">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.software.live_wallpaper" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="true"/>
<!--    <uses-feature android:glEsVersion="20000" android:required="true"/>-->
    <uses-permission android:name="android.permission.BIND_WALLPAPER"
        tools:ignore="ProtectedPermissions" />

    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:label="@string/app_name" android:name="com.magicfluids.MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.magicfluids.LWPActivity" android:exported="true"/>
        <service android:label="@string/app_name" android:name="com.magicfluids.NewWallpaperService" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper"/>
        </service>
    </application>

</manifest>